<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="looktocook">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name="com.jinglebroda.looktocook.ProjectApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_look_to_cook_v2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_look_to_cook_v2_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.RememberAndroid"
        tools:targetApi="33">

        <activity
            android:name="com.jinglebroda.presentation.singleActivity.mvvm.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>